# Node.js dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/
apps/mobile/web-build/
apps/mobile/.expo/

# Environment variables
**/.env*
apps/backend/config/*.json

# Mobile-specific
 REMOVED DUE TO SECRETS
apps/mobile/eas.json
apps/mobile/*.orig.*
apps/mobile/*.jks
apps/mobile/*.p8
apps/mobile/*.p12
apps/mobile/*.key
apps/mobile/*.mobileprovision
apps/mobile/.metro-health-check*

# Debug and logs
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*
**/*.log

# System and IDE files
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/
**/*.tmp
**/*.swp
**/*.tsbuildinfo
**/*.pem