BACKEND_HUGGINGFACE_API_TOKEN=
BACKEND_FIREBASE_API_KEY=
BACKEND_FIREBASE_AUTH_DOMAIN=
BACKEND_FIREBASE_PROJECT_ID=
BACKEND_FIREBASE_STORAGE_BUCKET=
BACKEND_FIREBASE_MESSAGING_SENDER_ID=
BACKEND_FIREBASE_APP_ID=
BACKEND_FIREBASE_MEASUREMENT_ID=
BACKEND_GPT_PAT=
BACKEND_GPT_MODEL_VERSION_ID=
BACKEND_EDAMAM_APP_ID=
BACKEND_EDAMAM_APP_KEY=
BACKEND_STRIPE_PUBLISHABLE_KEY=
BACKEND_STRIPE_SECRET_KEY=
BACKEND_FIREBASE_ADMIN_PATH=config/your_firebase_admin_config_file
BACKEND_APP_DEBUG=true
BACKEND_PORT=3000